@model Vidly.ViewModels.RentalFormViewModel
@{
    ViewBag.Title = "RentalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RentalForm</h2>


@using (Html.BeginForm("CreateRentalForm", "NewRentals"))
{
    @*@Html.ValidationSummary(true, "Please fix the following errors.")*@
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.TextBoxFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.LabelFor(m => m.Customer)
            @Html.DropDownListFor(m => m.Customer.Id, new SelectList(Model.Customers, "Id", "Name"), "Select Customer Name", new { @class = "form-control chosen-select" })
            @Html.ValidationMessageFor(m => m.Customer.Id)*@
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}



@section scripts
{


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        //$(document).ready(function () {
        //    $(".chosen-select").chosen();
        //});

        $(document).ready(function () {
            $("#Customer_Name").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/Rentals/SearchCustomer",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function(data) {
                            response($.map(data,
                                function(item) {
                                    return { label: item.Name, value: item.Id };
                                }));
                        }
                    });
                },
                messages: {
                    noResults: "",
                    results: ""
                }
            });
        });
    </script>
}
